<!doctype html>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}

    </head>
    <body>
        {% include 'includes/nav.html.twig' %}
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
